<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="card-header">
        下書き一覧
        <%= link_to_unturbolinks('作成', new_users_post_path, 'btn btn-outline-dark btn-sm float-right') %>
      </div>
      <div class="card-body">
        <ul class="nav nav-tabs">
          <li class="nav-item"><%= link_to '未投稿', users_drafts_path(current_user.url_name), class: 'nav-link active' %></li>
          <!-- 投稿済みのドラフトに違和感-->
          <li class="nav-item"><%= link_to '投稿済み', nil, class: 'nav-link' %></li>
        </ul>
      </div>
      <div class="list-group list-group-flush">
          <% @drafts.each do |draft| %>
          <a href="<%= users_draft_path(id: draft.id) %>" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <p><%= draft.title %></p>
            </div>
            <small class="text-muted"><%= draft.updated_at %></small>
          </a>
          <% end %>
      </div>
    </div>
  </div>
  <div class="col-9">
    <div class="card">
      <div class="card-body">
        <div class="my-1">
          <%= link_to_unturbolinks('編集', edit_users_post_path(@draft)) %>
          <%= link_to '削除', users_post_path(@draft), method: :delete, data: { confirm: '削除してよろしいですか？' }, class: 'btn btn-outline-danger btn-sm float-right' %>
        </div>
        <h4 class="card-title"><%= @draft.title %></h4>
        <div>
          <p class="card-text"><%= @draft.content %></p>
        </div>
      </div>
    </div>
  </div>
</div>
